.contact {
  padding: 104px 0px 120px;
}
.contact__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.contact__title_red {
  color: #D10014;
}
.contact__form {
  background-color: #fff;
  padding: 60px;
  border-radius: 32px;
}
.form__fieldset {
  display: none;
  margin-bottom: 32px;
}
.form__fieldset_active {
  display: block;
}
.form__title {
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.form__radio-wrapper {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  margin-bottom: 32px;
}
.radio__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.radio__input:focus-visible+.radio__label {
  border-color: #D10014;
}
.radio__input:checked+.radio__label {
  background: #222;
  color: #fff;
}
.radio__label {
  display: block;
  padding: 12px 20px;
  border-radius: 50px;
  background: #F0F4F4;
  font-weight: 500;
  line-height: 1.4;
  cursor: pointer;
}
.radio__label:hover {
  background-color: #E4F0F0;
}
.form__months {
  margin-bottom: 16px;
}
.form__months .radio__label {
  font-family: Arial;
}
.form__btn-months {
  font-weight: 500;
  line-height: 1.4;
  margin-right: 16px;
}
.form__btn-months:focus {
  outline: none;
}
.form__btn-months:last-child {
  margin-right: 0;
}
.form__btn-months_active {
  color: #D10014;
}
.form__time {
  display: none;
}
.form__time .radio__label {
  font-family: Arial;
}
.form__subtitle {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.4;
}
.form__input-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 32px;
  gap: 12px 8px;
}
.form__input {
  padding: 12px 20px;
  max-width: 526px;
  background: #F0F4F4;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
}
.form__input:focus-visible {
  outline: 1px solid #D0D0D0;
}
.form__info {
  font-weight: 500;
}
.form__info {
  margin-bottom: 4px;
}
.form__info:last-child {
  margin-bottom: 0px;
}
.form__info-date {
  font-family: Arial;
}
.form__btn-wrapper {
  display: flex;
  gap: 8px;
}
.form__btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 12px 20px;
  font-weight: 500;
  line-height: 1.4;
  background-color: #F0F4F4;
  border-radius: 50px;
}
.form__btn:focus {
  outline: 1px solid #D0D0D0;
}
.form__btn:disabled {
  pointer-events: none;
  background-color: #F0F4F4;
  color: #999;
}
.form__btn_next {
  background-color: #D10014;
  color: #fff;
}
.form__btn_submit {
  display: none;
  background-color: #D10014;
  color: #ffffff;
}

@media (max-width: 1080px) {
  .contact {
    padding: 80px 0px 120px;
  }
  .contact__title {
    font-size: 60px;
    margin-bottom: 32px;
  }
  .contact__form {
    background-color: #fff;
    padding: 40px;
  }
  .form__title {
    font-size: 24px;
    margin-bottom: 32px;
  }
  .form__radio-wrapper {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin-bottom: 32px;
  }
  .form__input-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 32px;
    gap: 12px 8px;
  }
  .form__btn-wrapper {
    display: flex;
    gap: 8px;
  }
}

@media (max-width: 900px) {
  .contact {
    padding: 60px 0px 120px;
  }
  .contact__title {
    font-size: 48px;
  }
  .contact__form {
    background-color: #fff;
  }
}

@media (max-width: 660px) {
  .contact {
    padding: 50px 0px 100px;
  }
  .contact__title {
    font-size: 32px;
  }
  .form__input-wrapper {
    grid-template-columns: 1fr;
    margin-bottom: 24px;
    row-gap: 8px;
  }
}